<form name="addSearches">
<input type="text" class="url-input" ng-model="newSearch" placeholder="Add a new resource"/>
<input type="text" class="notes-input" ng-model="newNotes" placeholder="Add notes"/>
<button ng-click="addSearch(newSearch, newNotes)">Add Resource</button>
<ul>
  <li ng-repeat="search in searches">{{ search.title }} </br> {{ search.notes }} </br> {{ project.title }}</li>
</ul>
</form>

<!-- <form name="addProjects" ng-submit="addProject(newProject)">
<input type="text" class="project-input" ng-model="newProject" placeholder="Add a new project"/>
<ul>
  <li ng-repeat="project in projects">
    <a ng-href="#/{{ projLink(project.title) }}">{{ project.title }}</a>
  </li>
</ul>
</form> -->